.aboutus img{width:100%;
    max-width: 500px;
     min-height: 220px;
    }

@media (max-width:900px){
    .aboutus img{
        width: 100%;
        max-width: 852px;
    }
    button{margin-bottom: 18px;} 
}
button {width: 150px;
        } 