.container {
    position: relative;
    font-family: Arial;
  }
  
  .text-block {
    position: absolute;
    bottom: 0px;
    right: 0px;
    top:0px;
    left:0px;
    background-color: black;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 1;
    opacity: 0.7;
  } 
   h4{
    position: absolute;
   top:50%;
   left:50%;
   font-size: 29px;
   transform: translate(-50%,-50%);
   color: white;
   opacity: 1;
   z-index: 3; 
  }  
