.main-footer{
    background-color: rgb(6 57 112);
    color:#fff;
    padding: 70px 100px;
   
}

.row{
    display: flex;
    flex:1 1 1;
    justify-content: space-between;
    gap:24px;
}
ul{padding: 0;
   margin: 0;}
ul li{list-style-type: none;
      font-size: 14px;}
.footlow{text-align: center;
         padding-top:26px;}
h4{font-size: 22px;
   margin-bottom: 8px;}

   @media only screen and (max-width:768px) {
    .row{flex:100%;
         flex-wrap: wrap;
        justify-content: center;
    align-items: center;} 
        .column{margin-bottom: 20px;}
}
